# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

www/dist/app.js
www/dist/app.js.map

.gradle
src.zip

.idea
/ul_web_hooks/android/android_web_hook.html
/ul_web_hooks/ios/coach.gopaddler.com#apple-app-site-association
/.app

config.xml