<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1210" id="com.gopaddler.app" version="1.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoPaddler</name>
    <description>
        Track speed, distance and stroke rate using GoPaddler
    </description>
    <author email="joaquim.rego@gopaddler.com" href="http://gopaddler.com">
        GoPaddler Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.GeoBroker" />
    </feature>
    <access origin="https://hooks.slack.com/" />
    <access launch-external="yes" origin="geo:*" />
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop" />
        <icon density="mdpi" src="res/android/ic_launcher-mdpi.png" />
        <icon density="ldpi" src="res/android/ic_launcher-ldpi.png" />
        <icon density="hdpi" src="res/android/ic_launcher-hdpi.png" />
        <icon density="xhdpi" src="res/android/ic_launcher-xhdpi.png" />
        <icon density="xxhdpi" src="res/android/ic_launcher-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/ic_launcher-xxxhdpi.png" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="26" />
    </platform>
    <platform name="ios">
        <icon height="100" src="res/ios/icon-100.png" width="100" />
        <icon height="1024" src="res/ios/icon-1024.png" width="1024" />
        <icon height="114" src="res/ios/icon-114.png" width="114" />
        <icon height="120" src="res/ios/icon-120.png" width="120" />
        <icon height="128" src="res/ios/icon-128.png" width="128" />
        <icon height="144" src="res/ios/icon-144.png" width="144" />
        <icon height="152" src="res/ios/icon-152.png" width="152" />
        <icon height="16" src="res/ios/icon-16.png" width="16" />
        <icon height="167" src="res/ios/icon-167.png" width="167" />
        <icon height="172" src="res/ios/icon-172.png" width="172" />
        <icon height="180" src="res/ios/icon-180.png" width="180" />
        <icon height="196" src="res/ios/icon-196.png" width="196" />
        <icon height="20" src="res/ios/icon-20.png" width="20" />
        <icon height="256" src="res/ios/icon-256.png" width="256" />
        <icon height="29" src="res/ios/icon-29.png" width="29" />
        <icon height="32" src="res/ios/icon-32.png" width="32" />
        <icon height="40" src="res/ios/icon-40.png" width="40" />
        <icon height="48" src="res/ios/icon-48.png" width="48" />
        <icon height="50" src="res/ios/icon-50.png" width="50" />
        <icon height="512" src="res/ios/icon-512.png" width="512" />
        <icon height="55" src="res/ios/icon-55.png" width="55" />
        <icon height="57" src="res/ios/icon-57.png" width="57" />
        <icon height="58" src="res/ios/icon-58.png" width="58" />
        <icon height="60" src="res/ios/icon-60.png" width="60" />
        <icon height="64" src="res/ios/icon-64.png" width="64" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="76" src="res/ios/icon-76.png" width="76" />
        <icon height="80" src="res/ios/icon-80.png" width="80" />
        <icon height="87" src="res/ios/icon-87.png" width="87" />
        <icon height="88" src="res/ios/icon-88.png" width="88" />
        <hook src="src/cordova/ios/plist.js" type="before_build" />
    </platform>
    <preference name="FadeSplashScreen" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="DisallowOverscroll" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-device-motion" spec="^1.2.5" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-ios-longpress-fix" spec="^1.1.0" />
    <plugin name="cordova-plugin-powermanagement" spec="^1.0.5" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-nativeaudio" spec="^3.0.9" />
    <plugin name="cordova-plugin-background-mode-bluetooth-central" spec="^1.0.0" />
    <plugin name="cordova-plugin-bluetoothle" spec="^4.4.3" />
    <plugin name="cordova-plugin-facebook4" spec="4.2.1">
        <variable name="APP_ID" value="529853143847598" />
        <variable name="APP_NAME" value="gopaddler" />
        <variable name="FACEBOOK_HYBRID_APP_EVENTS" value="false" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.40.0" />
    </plugin>
</widget>
