<?xml version='1.0' encoding='utf-8'?>
<widget id="com.paddlermetrics.paddler" version="0.6.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Paddler</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.GeoBroker" />
    </feature>
    <access origin="geo:*" launch-external="yes"/>

    <plugin name="Accelerometer" value="CDVAccelerometer" />

    <preference name="StatusBarOverlaysWebView" value="true" />

    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop"/>

        <icon src="res/android/ic_launcher-mhdpi.png" density="mdpi" />
        <icon src="res/android/ic_launcher-hdpi.png" density="hdpi" />
        <icon src="res/android/ic_launcher-xhdpi.png" density="xhdpi" />
        <icon src="res/android/ic_launcher-xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/ic_launcher-xxxhdpi.png" density="xxxhdpi" />


        <!-- you can use any density that exists in the Android project -->
        <splash src="res/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/android/splash-port-xhdpi.png" density="port-xhdpi"/>
        <splash src="res/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="res/android/splash-port-xxxhdpi.png" density="port-xxhdpi"/>


    </platform>

    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <!--icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" /-->
        <!-- iPad -->
        <!--icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" /-->
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <!--icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" /-->



        <splash src="res/ios/screen/Default~iphone.png" width="320" height="480"/>
        <splash src="res/ios/screen/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/ios/screen/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/ios/screen/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/ios/screen/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/ios/screen/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/ios/screen/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/ios/screen/Default-750@2x~iphone6-portrait.png" width="750" height="1334"/>
        <splash src="res/ios/screen/Default-1242@3x~iphone6s-portrait.png" width="1242" height="2208"/>
        <splash src="res/ios/screen/Default-1242@3x~iphone6s-landscape.png" width="2208" height="1242"/>
    </platform>

    <preference name="FadeSplashScreen" value="false"/>
    <preference name="AutoHideSplashScreen" value="true" />

    <preference name="BackupWebStorage" value="local"/>

    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="19" />

    <preference name="DisallowOverscroll" value="true" />
</widget>
