<link rel="stylesheet" href="css/portrait.css">
<link rel="stylesheet" href="css/bluetooth.css">

<div class="{{if isPortraitMode}}portrait-paddler-topbar{{/if}} app-topbar paddler-topbar">
    <button class="{{if isPortraitMode}}portrait-back-button{{/if}}
        app-button left paddler-back" alt="back" data-back></button>
    <div class="paddler-title">
        <div class="paddler-title-text">Settings</div>
    </div>
</div>
<div class="app-content select-session {{if isPortraitMode}}portrait-app-content{{/if}}">
    <ul class="bluetooth-devices" />
</div>
