<li class="bluetooth-devices-device">
    <div class="bluetooth-devices-row">
        <div class="bluetooth-devices-row-data-wrapper">
            <div class="bluetooth-devices-row-data">
            <div class="bluetooth-devices-row-column">
                <label class="bluetooth-devices-column-label">Name</label> {{device}}
            </div>
            <div class="bluetooth-devices-row-column">
                <label class="bluetooth-devices-column-label">Last Seen</label> {{addedAt}}
            </div>
        </div>
        </div>
        <div class="bluetooth-devices-device-actions">
            <div class="bluetooth-devices-device-forget"
                 data-paired="{{isPaired}}" data-address="{{address}}">Forget</div>
        </div>
    </div>
</li>
