{{if isPortraitMode}}
    <link rel="stylesheet" href="css/wizard.portrait.css">
{{else}}
    <link rel="stylesheet" href="css/wizard.landscape.css">
{{/if}}

<div class="app-content wizard" data-no-scroll="true">
    <div data-selector="slick" style="width:100%;height: 100%;">
        <!-- step 1 -->
        <div>
            <div class="wizard-image">
                <img src="/images/cal_step_1.png" width="70%" class="calibration-wizard-img"/>
            </div>
            <div class="wizard-text calibration-wizard-text">
                <h1>Mount Phone</h1>
                <p>Secure your device in a fixed position</p>
                <p>Make sure it is firm so it doesn't vibrate</p>
            </div>
        </div>

        <!-- step 2 -->
        <div>
            <div class="wizard-image">
                <img src="/images/cal_step_2.png" width="70%" class="calibration-wizard-img"/>
            </div>
            <div class="wizard-text calibration-wizard-text">
                <h1>Calibrate</h1>
                <p>Keep the boat leveled and stable<p/>
                <p>Always calibrate while in land</p>
                <p><p>
            </div>
        </div>

        <!-- step 3 -->
        <div data-step="3">
            <div class="wizard-image">
                <img src="/images/cal_step_3.png" width="70%" class="calibration-wizard-img"/>
            </div>
            <div class="wizard-text calibration-wizard-text">
                <h1>Go</h1>
                <p>Once done, you are ready to go!</p>
            </div>
            <div class="got-it">Got it</div>
        </div>

        <!-- step 4 -->
        <div data-step="4">
            <div class="slidshow-centered-text">Now, mount your phone in the boat and hit start</div>
            <div class="got-it">Start</div>
        </div>

    </div>
</div>
