{{if isPortraitMode}}
    <link rel="stylesheet" href="css/wizard.portrait.css">
{{else}}
    <link rel="stylesheet" href="css/wizard.landscape.css">
{{/if}}

<div class="app-content wizard" data-no-scroll="true">
    <div data-selector="slick" style="width:100%;height: 100%;">
        <!-- step 1 -->
        <div>
            <div class="wizard-step">
                <div class="wizard-image">
                    <img src="/images/cal_step_1.png">
                </div>
                <div class="wizard-text">
                    <h1>{{"calibrate_step_1_mount_phone" | translate}}</h1>
                    <p>{{"calibrate_step_1_mount_phone_line1" | translate}}</p>
                    <p>{{"calibrate_step_1_mount_phone_line2" | translate}}</p>
                </div>
            </div>
        </div>

        <!-- step 2 -->
        <div>
            <div class="wizard-step">
                <div class="wizard-image">
                    <img src="/images/cal_step_2.png">
                </div>
                <div class="wizard-text">
                    <h1>{{"calibrate_step_2_calibrate" | translate}}</h1>
                    <p>{{"calibrate_step_2_calibrate_line1" | translate}}</p>
                    <p>{{"calibrate_step_2_calibrate_line2" | translate}}</p>
                    <p><p>
                </div>
            </div>
        </div>

        <!-- step 3 -->
        <div>
            <div class="wizard-step" data-step="3">
                <div class="wizard-image">
                    <img src="/images/cal_step_3.png">
                </div>
                <div class="wizard-text">
                    <h1>{{"calibrate_step_3_go" | translate}}</h1>
                    <p>{{"calibrate_step_3_go_line1" | translate}}</p>
                </div>
                <div class="got-it">{{"calibrate_step_3_got_it" | translate}}</div>
            </div>
        </div>

    </div>
</div>
