<link rel="stylesheet" href="css/portrait.css">
<link rel="stylesheet" href="css/choose.sports.css">

<div class="app-content choose-sports {{if isPortraitMode}} choose-sports-portrait {{/if}}">
    <div class="choose-sports-header">
        <span class="choose-sports-header-primary">{{"choose_sport_header" | translate}}</span>
        <span class="choose-sports-header-secondary">{{"choose_sport_header_secondary" | translate}}</span>
    </div>
    <ul class="choose-sports-list">
        <li data-supported="false" data-message="choose_sport_picked_coach">{{"choose_sport_disciple_coach" | translate}}</li>
        <li data-supported="true">{{"choose_sport_disciple_marathon_sprint" | translate}}</li>
        <li data-supported="true">{{"choose_sport_disciple_paracanoe" | translate}}</li>
        <li data-supported="false" data-message="choose_sport_picked_not_supported">{{"choose_sport_disciple_ocean" | translate}}</li>
        <li data-supported="false" data-message="choose_sport_picked_sup">{{"choose_sport_disciple_sup" | translate}}</li>
        <li data-supported="false" data-message="choose_sport_picked_not_supported">{{"choose_sport_disciple_slalom" | translate}}</li>
        <li data-supported="false" data-message="choose_sport_picked_not_supported">{{"choose_sport_disciple_dragon_boat" | translate}}</li>
        <li data-supported="false" data-message="choose_sport_picked_not_supported">{{"choose_sport_disciple_other" | translate}}</li>
    </ul>
</div>
