<link rel="stylesheet" href="css/portrait.css">
<link rel="stylesheet" href="css/define.max.heart.rate.css">



<div class="{{if isPortraitMode}} portrait-paddler-topbar {{/if}} app-topbar paddler-topbar">
    <button class="{{if isPortraitMode}}portrait-back-button{{/if}}
        app-button left paddler-back" alt="back" data-back></button>
    <div class="paddler-title">
        <div class="paddler-title-text">GPS Refresh Rate</div>
    </div>
</div>
<div class="app-content define-max-heart-rate {{if isPortraitMode}} define-max-heart-rate-portrait {{/if}}">

    <ul class="define-max-heart-rate-list">
        <li data-option="140">140</li>
        <li data-option="141">141</li>
        <li data-option="142">142</li>
        <li data-option="143">143</li>
        <li data-option="144">144</li>
        <li data-option="145">145</li>
        <li data-option="146">146</li>
        <li data-option="147">147</li>
        <li data-option="148">148</li>
        <li data-option="149">149</li>
        <li data-option="150">150</li>
        <li data-option="151">151</li>
        <li data-option="152">152</li>
        <li data-option="153">153</li>
        <li data-option="154">154</li>
        <li data-option="155">155</li>
        <li data-option="156">156</li>
        <li data-option="157">157</li>
        <li data-option="158">158</li>
        <li data-option="159">159</li>
        <li data-option="160">160</li>
        <li data-option="161">161</li>
        <li data-option="162">162</li>
        <li data-option="163">163</li>
        <li data-option="164">164</li>
        <li data-option="165">165</li>
        <li data-option="166">166</li>
        <li data-option="167">167</li>
        <li data-option="168">168</li>
        <li data-option="169">169</li>
        <li data-option="170">170</li>
        <li data-option="171">171</li>
        <li data-option="172">172</li>
        <li data-option="173">173</li>
        <li data-option="174">174</li>
        <li data-option="175">175</li>
        <li data-option="176">176</li>
        <li data-option="177">177</li>
        <li data-option="178">178</li>
        <li data-option="179">179</li>
        <li data-option="180">180</li>
        <li data-option="181">181</li>
        <li data-option="182">182</li>
        <li data-option="183">183</li>
        <li data-option="184">184</li>
        <li data-option="185">185</li>
        <li data-option="186">186</li>
        <li data-option="187">187</li>
        <li data-option="188">188</li>
        <li data-option="189">189</li>
        <li data-option="190">190</li>
        <li data-option="191">191</li>
        <li data-option="192">192</li>
        <li data-option="193">193</li>
        <li data-option="194">194</li>
        <li data-option="195">195</li>
        <li data-option="196">196</li>
        <li data-option="197">197</li>
        <li data-option="198">198</li>
        <li data-option="199">199</li>
        <li data-option="200">200</li>
        <li data-option="201">201</li>
        <li data-option="202">202</li>
        <li data-option="203">203</li>
        <li data-option="204">204</li>
        <li data-option="205">205</li>
        <li data-option="206">206</li>
        <li data-option="207">207</li>
        <li data-option="208">208</li>
        <li data-option="209">209</li>
        <li data-option="210">210</li>
        <li data-option="211">211</li>
        <li data-option="212">212</li>
        <li data-option="213">213</li>
        <li data-option="214">214</li>
        <li data-option="215">215</li>
        <li data-option="216">216</li>
        <li data-option="217">217</li>
        <li data-option="218">218</li>
        <li data-option="219">219</li>
        <li data-option="220">220</li>
        <li data-option="221">221</li>
        <li data-option="222">222</li>
        <li data-option="223">223</li>
        <li data-option="224">224</li>
        <li data-option="225">225</li>
        <li data-option="226">226</li>
        <li data-option="227">227</li>
        <li data-option="228">228</li>
        <li data-option="229">229</li>
        <li data-option="230">230</li>
        <li data-option="231">231</li>
        <li data-option="232">232</li>
        <li data-option="233">233</li>
        <li data-option="234">234</li>
        <li data-option="235">235</li>
        <li data-option="236">236</li>
        <li data-option="237">237</li>
        <li data-option="238">238</li>
        <li data-option="239">239</li>
        <li data-option="240">240</li>
        <li data-option="241">241</li>
        <li data-option="242">242</li>
        <li data-option="243">243</li>
        <li data-option="244">244</li>
        <li data-option="245">245</li>
        <li data-option="246">246</li>
        <li data-option="247">247</li>
        <li data-option="248">248</li>
        <li data-option="249">249</li>
        <li data-option="250">250</li>
        <li data-option="251">251</li>
        <li data-option="252">252</li>
        <li data-option="253">253</li>
        <li data-option="254">254</li>
        <li data-option="255">255</li>
        <li data-option="256">256</li>
        <li data-option="257">257</li>
        <li data-option="258">258</li>
        <li data-option="259">259</li>
        <li data-option="260">260</li>
        <li data-option="261">261</li>
        <li data-option="262">262</li>
        <li data-option="263">263</li>
        <li data-option="264">264</li>
        <li data-option="265">265</li>
        <li data-option="266">266</li>
        <li data-option="267">267</li>
        <li data-option="268">268</li>
        <li data-option="269">269</li>
        <li data-option="270">270</li>
        <li data-option="271">271</li>
        <li data-option="272">272</li>
        <li data-option="273">273</li>
        <li data-option="274">274</li>
        <li data-option="275">275</li>
        <li data-option="276">276</li>
        <li data-option="277">277</li>
        <li data-option="278">278</li>
        <li data-option="279">279</li>
        <li data-option="280">280</li>
    </ul>
</div>
