<div class="app-content" data-no-scroll="true">
    <div class="home-sessions-btn" id="btn-sessions">
        <div class="home-row-wrapper">
            <div class="home-icon sessions-icon">&nbsp;</div>
            <div class="home-last-record">Last record: <span class="home-last-record-date"></span></div>
            <div class="home-row-title" >sessions</div>
        </div>
    </div>
    <div class="home-start-session-btn" id="btn-session">
        <div class="home-row-wrapper">
            <div class="home-icon start-icon">&nbsp;</div>
            <div class="home-username">Hi, <span class="home-username-bold"></span>!</div>
            <div class="home-row-title " style="font-weight: bold">start session</div>
        </div>
    </div>
    <div class="home-settings-btn" id="btn-settings">
        <div class="home-row-wrapper">
            <div class="home-icon settings-icon">&nbsp;</div>
            <div class="home-row-title">settings</div>
        </div>
    </div>
</div>
