<div class="app-content" data-no-scroll="true">
    <div class="home-start-session-btn" id="btn-session">
        <div class="home-row-wrapper">
            <div class="home-icon start-icon">&nbsp;</div>
            {{if hasName}}<div class="home-username">{{"home_menu_salute" | translate}}, <span class="home-username-bold">{{name}}</span>!</div>{{/if}}
            <div class="home-row-title " style="font-weight: bold">start session</div>
        </div>
    </div>
    <div class="home-sessions-btn" id="btn-sessions">
        <div class="home-row-wrapper">
            <div class="home-icon sessions-icon">&nbsp;</div>
            <div class="home-last-record">{{"home_menu_last_record" | translate}} <span class="home-last-record-date"></span></div>
            <div class="home-row-title" >{{"home_menu_sessions" | translate}}</div>
        </div>
    </div>
    <div class="home-settings-btn {{if isAndroid}} home-settings-btn-short {{/if}}" id="btn-settings">
        <div class="home-row-wrapper">
            <div class="home-icon settings-icon">&nbsp;</div>
            <div class="home-row-title">{{"home_menu_settings" | translate}}</div>
        </div>
    </div>
    {{if isAndroid}}<div class="home-exit-button" id="exit"><i class="fas fa-power-off"></i></div>{{/if}}
</div>
