<link rel="stylesheet" href="css/home.portrait.css">

<div class="app-content portrait-home">

    <div class="portrait-home-user-info">
        <div class="portrait-home-user-info-welcome">
            Hi, <b>{{name}}</b>
        </div>
        <div class="portrait-home-user-info-chart">
            <canvas id="home-chart-metrics" width="100%" height="50"></canvas>
        </div>
    </div>
    <div class="portrait-home-actions">

        <div class="portrait-home-actions-menu home-sessions-btn" id="btn-sessions">
            <div class="home-icon sessions-icon portrait-home-menu-icon">&nbsp;</div>
            <div class="portrait-home-row-title home-row-title">sessions</div>
        </div>

        <div class="portrait-home-actions-menu home-start-session-btn" id="btn-session">
            <div class="home-icon start-icon portrait-home-menu-icon">&nbsp;</div>
            <div class="portrait-home-row-title home-row-title" style="font-weight: bold">start session</div>
        </div>

        <div class="portrait-home-actions-menu home-settings-btn" id="btn-settings">
            <div class="home-icon settings-icon portrait-home-menu-icon">&nbsp;</div>
            <div class="portrait-home-row-title home-row-title">settings</div>
        </div>
    </div>
</div>
