<div class="app-content create-account" data-no-scroll="true">

    <div class="login-form">
        <div class="form">
            <form>
                <input type="email" placeholder="e-mail" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <p class="message auth-error">Login failed <a id="login-invalid">Forgot password?</a></p>
                <button class="button" id="login-with-password">login</button>
                <div class="progress-btn hidden"></div>
                <p class="message">Not registered? <a data-action="join">Create an account</a></p>
                <p class="message">Use facebook? <a data-action="back">Go back</a></p>
            </form>
        </div>
    </div>

    <div class="create-account-form">
        <div class="form">
            <form>
                <input type="email" placeholder="e-mail" name="username"/>
                <input type="name" placeholder="name" name="name"/>
                <input type="password" placeholder="password" name="password"/>
                <p class="message auth-error">&nbsp;</p>
                <button class="button" id="create-account">Create Account</button>
                <div class="progress-btn hidden"></div>
                <p class="message">Already registered? <a data-action="login">Login</a></p>
            </form>
        </div>
    </div>

    <div class="forgot-password-form">
        <div class="form">
            <form>
                <input type="email" placeholder="e-mail" name="email" required/>
                <p class="message check-email">Check your e-mail for details; <a data-action="login">Back to login</a></p>
                <p class="message auth-error">Check your e-mail for details; <a data-action="login">Back to login</a></p>
                <button class="button" id="forgot-password">Reset password</button>
                <div class="progress-btn hidden"></div>
                <p class="message">Not registered? <a data-action="join">Create an account</a></p>
            </form>
        </div>
    </div>

</div>
