<link rel="stylesheet" href="css/manage.coach.css">

{{if isPortraitMode}}
<link rel="stylesheet" href="css/portrait.css">
{{else}}
<link rel="stylesheet" href="css/manage.coach.landscape.css">
{{/if}}


<div class="{{if isPortraitMode}} portrait-paddler-topbar {{/if}} app-topbar paddler-topbar">
    <button class="{{if isPortraitMode}} portrait-back-button {{/if}} app-button left paddler-back" alt="back" data-back></button>
    <div class="paddler-title">
        <div class="paddler-title-text">{{"manage_coach_title" | translate}}</div>
    </div>
</div>

<div class="app-content manage-coach {{if isPortraitMode}} portrait-app-content portrait {{else}} landscape {{/if}}">
    <div class="coach-before-server-response">{{"manage_coach_loading" | translate}}</div>
    <div id="coach-loading" class="manage-coach-server-call progress-line"></div>

    <div class="coach-list-container">
        <div id="coach-list-header" class="manage-coach-list-header">{{"manage_coach_list_header" | translate}}</div>
        <div id="coach-list" class="manage-coach-list">&nbsp;</div>
    </div>
    <form id="coach-actions" class="manage-coach-actions" action="javascript:;">
        <label>{{"manage_coach_add_another_coach" | translate}}</label>
        <input id="code" type="text" class="add-coach" name="code" max="999999" min="100000" placeholder="{{'manage_coach_add_email_placeholder' | translate}}"/>
        <div id="button" class="manage-coach-actions-button-connect">{{"manage_coach_connect_button" | translate}}</div>
        <div class="manage-coach-no-coach-send-email-helper">{{"manage_coach_no_coach_send_email_helper" | translate}}</div>
        <a href="https://gopaddler.com/app-link-coach-screen-helper" class="manage-coach-helper-link">{{"manage_coach_helper_link" | translate}}</a>
        <div class="manage-coach-helper-invitation-code email">{{"manage_coach_i_have_an_invitation_code" | translate}}</div>

    </form>
</div>
