<li class="manage-coach-list-coach">
    <div class="manage-coach-list-row">
        <div class="manage-coach-list-row-data-wrapper">
            <div class="manage-coach-list-row-data">
                <div class="manage-coach-list-name">
                    {{coach}}
                    {{if pending}}
                        <span class="manage-coach-list-pending">({{"manage_coach_pending" | translate}})</span>
                    {{/if}}
                    <div class="list-drag-hint">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="manage-coach-list-row-actions">
            <div class="manage-coach-list-device-forget list-row-delete-btn"
                 data-paired="{{isPaired}}" data-coach="{{id}}">{{"manage_coach_action_remove" | translate}}</div>
        </div>
    </div>
</li>
