<li class="coach-list-device">
    <div class="coach-list-row">
        <div class="coach-list-row-data-wrapper">
            <div class="coach-list-row-data">
                <div class="coach-list-row-column">
                    <label class="coach-list-column-label">{{"manage_coach_label_coach_name" | translate}}</label> {{coach}}
                </div>
                <div class="coach-list-row-column">
                    <label class="coach-list-column-label">{{"manage_coach_label_added_at" | translate}}</label> {{since}}
                </div>
            </div>
        </div>
        <div class="coach-list-row-actions">
            <div class="coach-list-device-forget"
                 data-paired="{{isPaired}}" data-address="{{id}}">{{"manage_coach_action_remove" | translate}}</div>
        </div>
    </div>
</li>
