{{if isPortraitMode}}
    <link rel="stylesheet" href="css/portrait.css">
{{/if}}

<div class="{{if isPortraitMode}} portrait-paddler-topbar {{/if}} app-topbar paddler-topbar">
   <button alt="back" data-back
        class="{{if isPortraitMode}} portrait-back-button {{/if}} app-button left paddler-back"></button>
    <div class="paddler-title">
        <div class="paddler-title-text">{{"profile_title" | translate}}</div>
    </div>
</div>

<div class="app-content {{if isPortraitMode}} portrait-app-content portrait {{else}} landscape {{/if}}">
    <div class="login-form">
        <div class="form">
            <form>
                <input id="email" type="email" placeholder="{{"profile_email_placeholder" | translate}}" name="email" value="{{email}}"/>
                <input id="name" type="text" placeholder="{{"profile_name_placeholder" | translate}}" name="name" value="{{name}}"/>
                <button class="button disabled" id="update">{{"profile_update_action" | translate}}</button>
            </form>
          {{if email}}
            <button class="button button-logout" id="logout">{{"profile_logout_action" | translate}}</button>
          {{/if}}
        </div>
    </div>
</div>
