<div class="summary-cycling-charts">
    <div class="summary-section-title">{{"session_summary_intervals_altitude_chart_label" | translate}}</div>
    <canvas class="summary-intervals-chart" id="cycling-altitude"></canvas>

    <div class="summary-section-title">{{"session_summary_intervals_speed_chart_label" | translate}}</div>
    <canvas class="summary-intervals-chart" id="cycling-speed"></canvas>

    <div class="summary-section-title">{{"session_summary_intervals_spm_chart_label" | translate}}</div>
    <canvas class="summary-intervals-chart" id="cycling-cadence"></canvas>

    <div class="summary-section-title">{{"session_summary_intervals_hr_chart_label" | translate}}</div>
    <canvas class="summary-intervals-chart" id="cycling-heart-rate"></canvas>

</div>