<div class="session-controls session-controls-free-session">
    <div class="session-controls-round-button session-resume">
        <div class="session-controls-round-button-label">{{"session_resume" | translate}}</div>
    </div>
    <div class="session-controls-round-button  session-finish">
        <div class="session-controls-round-button-label">{{"session_finish" | translate}}</div>
    </div>
</div>

<div class="session-app-tester-controls">
        <div data-selector="left-right-debug" class="session-controls-square-button {{if isTestingLeftRight}}session-controls-square-toggled{{/if}}">
    Left/right Debug
</div>
</div>