<link rel="stylesheet" href="css/session.summary.css">
{{if isPortraitMode}}
    <link rel="stylesheet" href="css/portrait.css">
    <link rel="stylesheet" href="css/session.summary.portrait.css">
{{else}}
    <link rel="stylesheet" href="css/session.summary.landscape.css">
{{/if}}

<div class="{{if isPortraitMode}} portrait-paddler-topbar {{/if}}
        app-topbar paddler-topbar" style="display:table">
    <button class="{{if isPortraitMode}}portrait-back-button{{/if}}
        app-button left paddler-back" id="summary-back" alt="back" data-back style="display: none"></button>
    <div class="summary-finish-btn" id="summary-finish"><b>{{"session_summary_finish_button" | translate}}</b></div>
    <div class="paddler-title-text">{{"session_summary_title" | translate}}</div>
</div>
<div class="app-content" style="height:82vh" data-no-scroll="true">
    <div class="summary-layout">
        <div id="summary-details-session" class="summary-current-session"></div>
        <div class="summary-layout-general"></div>
        <div class="summary-layout-zones"></div>
        <div class="summary-layout-intervals"></div>
    </div>
</div>
