<div class="summary-zones-container">
    <div class="summary-zones-zone-container">
        <div class="summary-zones-zone-card">
            <div class="summary-section-title">{{"session_summary_zones_speed_label" | translate}}</div>
            <canvas class="summary-intervals-chart" id="zones-speed"></canvas>
        </div>

        <div class="summary-zones-zone-card">
          <div class="summary-section-title">{{"session_summary_zones_spm_label" | translate}}</div>
            <canvas class="summary-intervals-chart" id="zones-spm"></canvas>
        </div>

        <div class="summary-zones-zone-card">
            <div class="summary-section-title">{{"session_summary_zones_hr_label" | translate}}</div>
            <canvas class="summary-intervals-chart" id="zones-heart-rate"></canvas>
        </div>

        <div class="summary-zones-zone-card">
          <div class="summary-section-title">{{"session_summary_zones_spm_speed_label" | translate}}</div>
          <table class="summary-table summary-table-header summary-zones-table">
              <thead>
                  <tr >
                      <th>{{"session_summary_zones_spm_speed_unit" | translate}}</th>
                      <th>{{"session_summary_zones_spm_speed_avg_speed_header" | translate}}</th>
                      <th>{{"session_summary_zones_spm_speed_interval_speed_header" | translate}}</th>
                  </tr>
              </thead>
              <tbody>
              {{each spmToSpeedZones}}
                  <tr>
                      <td style="width: 15%">{{$value.zone}}</td>
                      <td style="width: 40%">{{$value.avg}}</td>
                      <td style="width: 45%; text-align: center">{{$value.min}} - {{$value.max}}</td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
        </div>

    </div>




</div>