<link rel="stylesheet" href="css/sessions.css">

{{if isPortraitMode}}
    <link rel="stylesheet" href="css/portrait.css">
    <link rel="stylesheet" href="css/sessions.portrait.css">
{{else}}
    <link rel="stylesheet" href="css/sessions.landscape.css">
{{/if}}


<div class="{{if isPortraitMode}} portrait-paddler-topbar {{/if}}app-topbar paddler-topbar">
    <button class="{{if isPortraitMode}}portrait-back-button{{/if}}
        app-button left paddler-back" alt="back" data-back></button>
    <div class="paddler-title">
        <div id="session-period-filter-button" class="paddler-title-text app-modal-open">Last 30 days</div>
    </div>
</div>
<div id="session-period-filter" class="app-modal-wrapper">
    <div class="app-modal">
        {{if isPortraitMode}}
            <div id="session-period-datepicker" class="calendar"></div>
        {{/if}}
        <div class="date-options">
            <div class="app-modal-button selected" data-period="last-30-days">Last 30 days</div>
            <div class="app-modal-button" data-period="last-month">Last Month</div>
            <div class="app-modal-button" data-period="start-from">Starting From</div>
            <div class="app-modal-button" data-period="custom">Custom Range</div>

            <div id="cancel-session-filter" class="app-modal-cancel-button">Cancel</div>
            <div id="apply-session-filter" class="app-modal-ok-button">Apply</div>
        </div>
        {{if isLandscapeMode}}
            <div id="session-period-datepicker" class="calendar"></div>
        {{/if}}
    </div>
    <div id="session-filter-background" class="app-modal-background"></div>
</div>
<div data-no-scroll="true" class="app-content sessions {{if isPortraitMode}}portrait-sessions{{/if}}">
    <div class="sessions-summary">
        <div class="sessions-summary-highlight">
            <span id="total-distance">0.0</span>
            <span id="sessions-summary-distance-unit">KM</span>
        </div>
        <div class="sessions-summary-secondary">
            <div><span class="sessions-summary-secondary-value">14.3</span><label class="sessions-summary-secondary-label">Speed</label></div>
            <div><span class="sessions-summary-secondary-value">82</span><label class="sessions-summary-secondary-label">SPM</label></div>
            <div><span class="sessions-summary-secondary-value">3.1</span><label class="sessions-summary-secondary-label">S. Length</label></div>
        </div>
    </div>
    <div class="sessions-table-header">
        <div>Date</div>
        <div>Duration</div>
        <div>Distance</div>
        <div>Synced</div>
    </div>
    <div id="sessions-wrapper-for-pull-to-refresh" class="sessions-list"></div>
</div>
