<div class="summary-stats">
    <div class="summary-stats-row">
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_duration" | translate}}</label>
            <span>{{duration}}</span>
        </div>
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_distance" | translate}}</label>
            <span>{{distance}}</span>
        </div>
    </div>

    <div class="summary-stats-row">
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_speed" | translate}}</label>
            <span>{{speed}}</span>
        </div>
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_spm" | translate}}</label>
            <span>{{cadence}}</span>
        </div>
    </div>

    <div class="summary-stats-row" data-selector="gopaddler">
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_efficiency" | translate}}</label>
            <span>{{efficiency}}</span>
        </div>
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_heart_rate" | translate}}</label>
            <span>{{heartRate}}</span>
        </div>
    </div>

    <div class="summary-stats-row" data-selector="utter-cycling">
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_elevation" | translate}}</label>
            <span>{{elevation}}</span>
        </div>
        <div class="summary-stats-column">
            <label>{{"session_summary_metrics_heart_rate" | translate}}</label>
            <span>{{heartRate}}</span>
        </div>
    </div>
</div>