<div class="summary-zones-container">
    <div class="summary-zones-header">
        <div>{{"session_summary_zones_title" | translate}}</div>
    </div>



    <div class="summary-zones-zone-container">
        <div class="summary-zones-zone-card">
            <div class="summary-zones-label">{{"session_summary_zones_speed_label" | translate}}</div>
            <table class="summary-table summary-table-header summary-zones-table">
                <tbody>
                {{each speedZones}}
                    <tr>
                        <td>{{$value.zone}}</td>
                        <td><div class="summary-zones-table-bar {{if $value.discard}}summary-zones-table-bar-discarded{{/if}}" style="width: {{$value.bar}}%">&nbsp;</div></td>
                        <td>{{$value.percentage}}%</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="summary-zones-zone-card">
          <div class="summary-zones-label">{{"session_summary_zones_spm_label" | translate}}</div>
          <table class="summary-table summary-table-header summary-zones-table">
              <tbody>
              {{each spmZones}}
                  <tr>
                      <td>{{$value.zone}}</td>
                      <td><div class="summary-zones-table-bar {{if $value.discard}}summary-zones-table-bar-discarded{{/if}}" style="width: {{$value.bar}}%">&nbsp;</div></td>
                      <td>{{$value.percentage}}%</td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
        </div>

        <div class="summary-zones-zone-card">
          <div class="summary-zones-label">{{"session_summary_zones_spm_speed_label" | translate}}</div>
          <table class="summary-table summary-table-header summary-zones-table">
              <thead>
                  <tr >
                      <th>{{"session_summary_zones_spm_speed_unit" | translate}}</th>
                      <th>{{"session_summary_zones_spm_speed_avg_speed_header" | translate}}</th>
                      <th>{{"session_summary_zones_spm_speed_interval_speed_header" | translate}}</th>
                  </tr>
              </thead>
              <tbody>
              {{each spmToSpeedZones}}
                  <tr>
                      <td style="width: 15%">{{$value.zone}}</td>
                      <td style="width: 40%">{{$value.avg}}</td>
                      <td style="width: 45%; text-align: center">{{$value.min}} - {{$value.max}}</td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
        </div>

        <div class="summary-zones-zone-card">
          <div class="summary-zones-label">{{"session_summary_zones_hr_label" | translate}}</div>
          <table class="summary-table summary-table-header summary-zones-table">
              <tbody>
              {{each heartRateZones}}
                  <tr>
                      <td>{{$value.zone}}</td>
                      <td><div class="summary-zones-table-bar" style="width: {{$value.bar}}%">&nbsp;</div></td>
                      <td>{{$value.percentage}}%</td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
        </div>
    </div>




</div>