<link rel="stylesheet" href="css/session.css">

{{if isPortraitMode}}
    <link rel="stylesheet" href="css/portrait.css">
    <link rel="stylesheet" href="css/session.portrait.css">
{{else}}
    <link rel="stylesheet" href="css/session.landscape.css">
{{/if}}

<div class="app-content {{if isPortraitMode}}portrait-app-content{{/if}}" data-no-scroll="true" id="session">
    <div class="session-large-measure"></div>
    <div class="session-small-measures">
        <div class="session-small-measure yellow">&nbsp;</div>
        <div class="session-small-measure blue">&nbsp;</div>
        <div class="session-small-measure red">&nbsp;</div>
    </div>
    <div id="session-stop" style="position:absolute;width: 40%;display:none;z-index:9">
        <svg viewBox="0 0 60 60">
            <g>
                <path id="animation-pause-circle" class="pause" fill="#fff" d="M28.03,19.06v21.88c0,0.86-0.7,1.56-1.56,1.56h-3.12c-0.86,0-1.56-0.7-1.56-1.56V19.06
		c0-0.86,0.7-1.56,1.56-1.56h3.12C27.33,17.5,28.03,18.2,28.03,19.06z M38.46,19.06v21.88c0,0.86-0.7,1.56-1.56,1.56h-3.12
		c-0.86,0-1.56-0.7-1.56-1.56V19.06c0-0.86,0.7-1.56,1.56-1.56h3.12C37.76,17.5,38.46,18.2,38.46,19.06z" ></path>
                <path id="animation-pause-dash" class="stroke" fill="none" stroke="#fff" stroke-width="4" d="M30,7C17.32,7,7,17.32,7,30
	c0,12.68,10.32,23,23,23c12.68,0,23-10.32,23-23C53,17.32,42.68,7,30,7z" ></path>
            </g>
        </svg>
    </div>
</div>
