{{if isPortraitMode}}
    <link rel="stylesheet" href="css/portrait.css">
    <link rel="stylesheet" href="css/settings.portrait.css">
{{/if}}

<div class="{{if isPortraitMode}} portrait-paddler-topbar {{/if}}app-topbar paddler-topbar">
    <button class="{{if isPortraitMode}}portrait-back-button{{/if}}
        app-button left paddler-back" alt="back" data-back></button>
    <div class="paddler-title">
        <div class="paddler-title-text">{{"settings_title" | translate}}</div>
    </div>
</div>
<div class="app-content settings {{if isPortraitMode}} portrait-settings-content {{/if}}">

    <div class="settings-row">
        <div class="settings-option settings-option-label" id="coach">
            {{ "settings_menu_coach" | translate}}
        </div>
    </div>

    <div class="settings-row odd" id="language">
        <div class="settings-option heart-rate settings-option-label" >
            {{ "settings_menu_language" | translate}}
        </div>
        <div class="settings-current-language">&nbsp;</div>
    </div>

    <div class="settings-row" id="boat">
        <div class="settings-option settings-option-label">
            {{"settings_menu_type_of_boat" | translate}}
        </div>
        <div class="settings-option settings-option-action">
            <div class="settings-option-switch-label">K1</div>
            <div class="settings-option-switch">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="pick-boat">
                    <label class="onoffswitch-label" for="pick-boat"></label>
                </div>
            </div>
            <div class="settings-option-switch-label">C1</div>
        </div>
    </div>

    <div class="settings-row odd" id="units">
        <div class="settings-option settings-option-label">
            {{"settings_menu_units" | translate}}
        </div>
        <div class="settings-option settings-option-action">
            <div class="settings-option-switch-label">KM</div>
            <div class="settings-option-switch">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="pick-units">
                    <label class="onoffswitch-label" for="pick-units"></label>
                </div>
            </div>
            <div class="settings-option-switch-label">Mi</div>
        </div>
    </div>
    <div class="settings-row">
        <div class="settings-option settings-option-label">
            {{ "settings_menu_black_and_white" | translate}}
        </div>
        <div class="settings-option settings-option-action">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="black-and-white">
                <label class="onoffswitch-label toggle" for="black-and-white"></label>
            </div>
        </div>
    </div>
    <div class="settings-row odd">
        <div class="settings-option settings-option-label">
            {{ "settings_menu_save_session_layout" | translate}}
        </div>
        <div class="settings-option settings-option-action">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="layout">
                <label class="onoffswitch-label toggle" for="layout"></label>
            </div>
        </div>
    </div>
    <div class="settings-row">
        <div class="settings-option settings-option-label">
            {{ "settings_menu_portrait_mode" | translate}}
        </div>
        <div class="settings-option settings-option-action">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="portrait-mode">
                <label class="onoffswitch-label toggle" for="portrait-mode"></label>
            </div>
        </div>
    </div>
    <div class="settings-row odd">
        <div class="settings-option gps-rate settings-option-label" id="gps-update-rate">
            {{ "settings_menu_gps_refresh_rate" | translate}}
        </div>
        <div class="settings-current-gps-rate">&nbsp;</div>
    </div>

    <div class="settings-row">
        <div class="settings-option settings-option-label" id="bluetooth">
            {{ "settings_menu_heart_rate_sensor" | translate}}
        </div>
    </div>

    <div class="settings-row odd">
        <div class="settings-option heart-rate settings-option-label" id="max-heart-rate">
            {{ "settings_menu_heart_rate" | translate}}
        </div>
        <div class="settings-current-max-heart-rate">&nbsp;</div>
    </div>

    <div class="settings-row">
        <div class="settings-calibrate settings-option-label" id="calibration">
            {{ "settings_menu_calibrate" | translate}}
        </div>
        <div class="settings-calibrate-help">{{ "settings_menu_calibrate_how_to" | translate}}</div>
    </div>

    <div class="settings-row" id="profile">
        <!--div class="settings-facebook-icon"></div-->
        <div class="settings-facebook">
            {{ "settings_menu_profile" | translate}}
        </div>
    </div>

    <div class="settings-footer">
        {{ "settings_menu_version" | translate}}<span data-selector="version">&nbsp;</span>
    </div>

</div>
