<div class="app-topbar paddler-topbar">
    <button class="app-button left paddler-back" alt="back" data-back></button>
    <div class="paddler-title">
        <div class="paddler-title-text">Settings</div>
    </div>
</div>
<div class="app-content" style="height:100%;background-color:#2C2D49">

    <div class="settings-row odd" id="units">
        <div class="settings-option" style="width:65%">
            Units
        </div>
        <div class="settings-option" style="width:15%;padding:0;text-align:right">KM</div>
        <div class="settings-option" style="width:10%">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="pick-units">
                <label class="onoffswitch-label" for="pick-units"></label>
            </div>
        </div>
        <div class="settings-option" style="width:15%">Mi</div>
    </div>
    <div class="settings-row">
        <div class="settings-option">
            black and white
        </div>
        <div class="settings-option" style="width:30%">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="black-and-white">
                <label class="onoffswitch-label toggle" for="black-and-white"></label>
            </div>
        </div>
    </div>
    <div class="settings-row odd">
        <div class="settings-option">
            Save session layout
        </div>
        <div class="settings-option" style="width:30%">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="layout">
                <label class="onoffswitch-label toggle" for="layout"></label>
            </div>
        </div>
    </div>
    <div class="settings-row">
        <div class="settings-option">
            portrait mode
        </div>
        <div class="settings-option" style="width:30%">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="portrait-mode">
                <label class="onoffswitch-label toggle" for="portrait-mode"></label>
            </div>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-calibrate" id="calibration">
            Calibrate
        </div>
        <div class="settings-calibrate-help">Learn how</div>
    </div>
    <div class="settings-row" id="logout">
        <!--div class="settings-facebook-icon"></div-->
        <div class="settings-facebook">
            Logout
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-option">
            Version <span data-selector="version">&nbsp;</span>. For more, visit <a class="settings-website-text" href="javascript:;">app.gopaddler.com</a>
        </div>
    </div>

</div>
