.bluetooth {
    color: #ffffff;
    background-color: #3b3d62;
}

.bluetooth-devices {
    height: 82vh;
    width: 100vw;
    display: none;
}

.portrait-app-content > .bluetooth-devices {
    height: 76vh;
    width: 100vw;
}

.bluetooth-devices > li {
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    padding-right: 5vw;
    width: 100vw;
    background-color: #313455;
    color: #ffffff;
    font-size: 8vh;
    text-transform: UPPERCASE;
}


 .bluetooth-devices > li.odd {
    background-color: #2C2D49;
 }

li.bluetooth-devices-device.success {
    background-color: #4B946A;
}

.bluetooth > h3 {
    margin-top: 30vh;
    text-align: center;
    font-weight: 600;
}

.bluetooth > p {
    text-align: center;
    margin: 2vw;
}

.bluetooth > div.bluetooth-scan-button {
    background-color: #F4563D;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 11vh;
    line-height: 12vh;
    font-size: 6vh;
    text-align: center;
    text-transform: uppercase;
}

[data-selector="no-devices-found"] {
    display: none;
}

.bluetooth-try-again {
    font-weight: 600;
    text-decoration: underline;
}


/* Devices list */
li.bluetooth-devices-device {
    white-space: nowrap;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    color: #3b3d62;
}
.bluetooth-devices-row-data-wrapper {
    display: inline-block;
    width: 100%;
}

.bluetooth-devices-device-actions {
    display: inline-block;
    width: 40%;
    background-color: #F4563D;
    color: #ffffff;
    text-transform: UPPERCASE;
    text-align: center;
    vertical-align: top;
    margin-left: -4px;
}

.bluetooth-devices-row-data {
    display: table;
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-transform: uppercase;
}

.bluetooth-devices-row-column {
    display: table-cell;
    height: 100%;
    max-width: 50%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    padding-left: 5px;
}

.bluetooth-devices-column-label {
    text-transform: uppercase;
    font-size: 10px;
    color: #7e8c8d;
    display: block;
    padding-bottom: 6px;
}

.bluetooth-devices-column-value {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
}



.bluetooth-devices-search.progress-line {
    background-color: #F4563D;
    height: 1vh;
    display: none;
    position: fixed;
    bottom: 0;
}

.bluetooth-devices-search.progress-line:before {
    height: 1vh;
}

.bluetooth > div.bluetooth-scan-button.bluetooth-scan-active {
    background-color: #4B946A;
}

.bluetooth-devices-search.bluetooth-scan-active {
    display:flex;
}
.bluetooth-devices  .ptr--icon,  .bluetooth-devices  .ptr--text{
    color: #FFFFFF;
}
