.app-content.portrait-home {
    background-color: #535465;
}

.portrait-home-user-info {
    background-color: #3b3d62;
    height: 55vh;
    position: relative;
    color: #fff;
}

.portrait-home-user-info-welcome {
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    font-size: 3vh;
}

.home-last-record-date {
    position: absolute;
    bottom: 0;
    right: 0;
}

.portrait-home-user-info-chart {
    width: 92%;
    margin: auto;
}

.portrait-home-user-info canvas {
    position: absolute;
    bottom: 0;
}

.portrait-home-user-info-chart h1 {
    position: absolute;
    bottom: 0;
    color: rgba(239, 97, 86, .8);
    font-size: 20px;
    border-bottom: 1px solid rgba(239, 97, 86, .8);
    margin: 0;
    padding-left: 5px;
    padding-bottom: 24px;
    width: 100%;

}

.portrait-home-actions {
    height: 45vh;
}

.portrait-home-actions-menu {
    display: table;
    height: 15vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.portrait-home-row-title {
    text-align: left;
}

.portrait-home-menu-icon {
    background-position: left
}
