.app-content.portrait-home {
    background-color: #535465;
}

.app-content.portrait-home .home-user-info {
    background-color: #3b3d62;
    height: 55vh;
    width: 100vw;
    position: relative;
    color: #fff;
}

.app-content.portrait-home .home-user-info-welcome {
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    font-size: 3vh;
    text-transform: capitalize;
}

.home-last-record-date {
    position: absolute;
    bottom: 0;
    right: 0;
}

.app-content.portrait-home .home-user-info-chart {
    width: 92%;
    margin: auto;
}

.app-content.portrait-home .home-user-info canvas {
    position: absolute;
    bottom: 0;
}

.app-content.portrait-home .home-user-info-chart h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(239, 97, 86, .8);
    font-size: 20px;
    border-bottom: 1px solid rgba(239, 97, 86, .8);
    margin: 0;
    padding-bottom: 24px;
    width: 100%;
    text-align: center;
}

.app-content.portrait-home .home-actions {
    height: 45vh;
}

.app-content.portrait-home .home-actions-menu {
    height: 15vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: unset;
}

.app-content.portrait-home .home-settings-btn,  .app-content.portrait-home .home-sessions-btn {
    display: flex;
}

.app-content.portrait-home .home-settings-btn > .home-row-title {
    display: block;
}

.app-content.portrait-home .home-row-title {
    text-align: left;
}

.app-content.portrait-home .home-menu-icon {
    background-position: left
}

.app-content.portrait-home .home-settings-btn > .home-icon.home-menu-icon > img {
    width: 80px;
    height: 80px;
}

.app-content.portrait-home .home-actions-menu.home-actions-menu-short {
    width: calc(100% - 80px)
}

.app-content.portrait-home  .home-exit-button {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 22px;
    color: #ffffff;
    width: 80px;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.13);
    z-index: 10;
}
