.manage-coach {
    color: #ffffff;
    background-color: #3b3d62;
}

p.manage-coach-confirm-coach-name {
    font-size: 24px;
    font-weight: 900;
    margin: 10px auto 16px;
}

.manage-coach-list {
    height: 40vh;
    width: 100vw;
    display: none;
}

.manage-coach-server-call {
    position: fixed;
    bottom: 0;
    height: 6px;
    background-color: #EE6156;
}

.add-coach {
    width: 86vw;
    margin: 0 auto 10px auto;
    height: 60px;
    font-family: 'Roboto', Helvetica;
    font-size: 22px;
    font-weight: 700;
    border: 0;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    color: #A7A7A7;
}

.keyboard-open .add-coach {
    margin: auto;
}


.keyboard-open .coach-list-container {
    display: none;
}

.manage-coach-actions-button-connect {
    cursor: pointer;
    height: 40px;
    width: 84vw;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    background-color: #71B57B;
    text-transform: uppercase;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.add-coach:focus {
    outline-width: 0;
}

.manage-coach-actions {
    height: 50vh;
    display: none;
    flex-direction: column;
}

.manage-coach-actions-when-has-coaches.manage-coach-actions {
    height: 40vh;
}

.manage-coach-actions > label {
    display: none;
}

.manage-coach-actions.manage-coach-actions-when-has-coaches {
    align-items: center;
    justify-content: center;
}

.manage-coach-actions.manage-coach-actions-when-has-coaches > label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.keyboard-open .manage-coach-actions.manage-coach-actions-when-has-coaches > label {
    display: none;
}


.manage-coach-list > h1 {
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 40vh;
    justify-content: center;
    font-weight: normal;
    width: 84vw;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

.manage-coach-list > h1 > a {
    text-decoration: none;
    color: #EE6156;
    line-height: 30px;
}

.manage-coach-list > li {
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    padding-right: 5vw;
    width: 100vw;
    background-color: #313455;
    color: #ffffff;
    font-size: 8vh;
    text-transform: UPPERCASE;
}


.manage-coach-list > li.odd {
    background-color: #2C2D49;
}

li.manage-coach-list-device.success {
    background-color: #4B946A;
}

.manage-coach > h3 {
    margin-top: 30vh;
    text-align: center;
    font-weight: 600;
}

.manage-coach > p {
    text-align: center;
    margin: 2vw;
}

[data-selector="no-coach"] {
    display: none;
}

/* Devices list */
li.manage-coach-list-coach {
    white-space: nowrap;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    color: #3b3d62;
}

.manage-coach-list-header {
    height: 10vh;
    background-color: #CCCCD3;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #495164;
}

.manage-coach-list-row-data-wrapper {
    display: inline-block;
    width: 100%;
}

.manage-coach-list-row-actions {
    display: inline-block;
    width: 40%;
    background-color: #EE6156;
    color: #ffffff;
    text-transform: UPPERCASE;
    text-align: center;
    vertical-align: top;
    margin-left: -4px;
}

.manage-coach-list-row-data {
    display: table;
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-transform: uppercase;
}
.manage-coach-list-row-data {
    display: inline-block;
    width: 100%;
}

.manage-coach-list-name {
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 20px;
}

.manage-coach-list-pending {
    font-size: 12px;
    line-height: 12px;
    color: #848484;
    text-transform: lowercase;
}

.manage-coach-list-drag-hint {
    width: 10px;
    background-color: #EE6156;
    height: 100%;
    float: right;
}

.coach-before-server-response {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    width: 80vw;
    margin: auto;
    font-size: 20px;
}

.manage-coach-body-title {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.manage-coach-no-coach-send-email-helper {
    text-align: center;
    margin: 0 auto 40px auto;
    width: 86vw;
    font-size: 14px;
}

.manage-coach-helper-link, .manage-coach-helper-invitation-code, .manage-coach-helper-email-address {
    text-decoration: underline;
    text-align: center;
    margin: 20px 0;
}

.manage-coach-helper-invitation-code {
    margin: 0
}

.manage-coach-helper-email-address {
    display: none;
}

.keyboard-open .manage-coach-no-coach-send-email-helper, .keyboard-open .manage-coach-helper-link, .keyboard-open .manage-coach-helper-invitation-code {
    display: none;
}