body {
    font-family: 'Roboto', sans-serif;
}

.home-sessions-btn {
    height: 33.33%!important;
    background-color: #3B3D63!important;
    color: #FFF
}

.home-start-session-btn {
    height: 33.33%!important;
    background-color: #5550F2!important;
}

.home-settings-btn {
    height: 33.33%!important;
    background-color: #F59146!important;
}

.home-sessions-title {
    float:right;
    color:#FFFFFF;
    vertical-align: middle;
    font-size: 14vh;
    margin: 3%;
    text-transform: capitalize;
}

.home-icon {
    float:left;
    height: 100%;
    width: 20%;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.sessions-icon {
    background-image: url(../images/sessions.svg);
}

.start-icon {
    background-image: url(../images/start.svg);
}

.settings-icon {
    background-image: url(../images/settings.svg);
}

.session-left {
    float: left;
    height: 100%;
    width: 50%;
}
.session-right {
    float: right;
    height: 100%;
    width: 50%;

}

.session-big-meaure-container {
    display: table;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #3B3D62;
    vertical-align: middle;
    text-align: center;
}

.session-big-measure {
    display: table-cell;
    vertical-align: middle;
    font-size: 40vw;
}

.big-measure-label {
    position: absolute;
    text-align: center;
    width: 50%;
    color: #B8B5C1;
    height: 100vh;
    top: 85vh;
    padding-bottom: 68vh;
}

.big-measure-units {
    position: absolute;
    text-align: center;
    width: 50%;
    padding-top: 10vh;
    color: #B8B5C1;
}

.session-small-measure {
    height: 33.33%;
    width: 100%;
    color:#fff;
}

.yellow {
    background-color: #F59146;
}

.blue {
    background-color: #5650EF;
}

.red {
    background-color: #EF6156;
}

.small-measure-line {
    display:table-row;
}

.small-measure-header {
    height: 30%;
}

.small-measure-label {
    float: left;
    margin-top: 4%;
    margin-left: 4%;
}

.small-measure-value {
    width: 96%;
    height: 70%;
    text-align: right;
    font-size: 15vh;
    font-weight: bold;
    display: inline-block;
}

.small-measure-units {
    float: right;
    margin-top: 4%;
    margin-right: 4%;
}

.template {
    display: none;
}

.back-button {
    background: #2F2F3B url("../images/back-temp.png") no-repeat center;
    float:left;
    width: 15%;
    height: 100%;
}

.view-content {
    float: right;
    width: 85%;
    height: 100%;
    background-color: #3B539B;
}

.settings-header, .sessions-header, .settings-row {
    height: 20%!important;
    display: table;
    width: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.settings-header {
    background-color: #F59146;
}

.settings-header-title {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    padding-right: 4%;

    font-size: 10vh;
}

.settings-calibrate {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    padding-left: 3%;

    background-color: #2E2A4A;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.settings-units {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    padding-left: 3%;

    background-color: #333056;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.settings-gmail {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    padding-left: 3%;

    background-color: #F25A45;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.settings-facebook {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    padding-left: 3%;
    font-weight: bold;

    background-color: #3B539B;
    text-transform: uppercase;
    color: #fff;
}


.sessions-content {
    height: 80%;
    background-color: #F05E4E;
}

.sessions-header {
    background-color: #3B3D63;
}
.sessions-header-title {
    display: table-cell;
    width: 60%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    padding-right: 4%;
    font-size: 10vh;
}


.sessions-summary {
    float:left;
    color: #fff;
    width: 40%;
}

.sessions-details {
    float: right;
    width: 60%;
    /*height: 100%;*/
    /*max-height: 100%;*/
    color: #fff;
    text-transform: uppercase;
    background-color: #2F2F3B;
    overflow: hidden;
    list-style: none;
}

#sessions-wrapper {
    overflow: hidden;
    background-color: #D05043;
}

.sessions-summary-label {
    text-transform: uppercase;
    color: #F6A79E;
    padding: 5% 5% 0 5%;
    width: 100%;
}

.sessions-summary-value {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10vh;
    padding: 0 5% 0 5%;
}

.session-table {
    display: table;
    width: 100%;
}

.session-row {
    height: 20vh;
    white-space: nowrap
}

.session-row-wrapper {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}

.session-row-data-wrapper {
    width:100%;
    height: 100%;
    display:inline-block;
}

.session-row-data {
    display:table;
    width:100%;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
}

.session-row-data {
    display:table;
    width:100%;
    height: 100%;
}

.session-row-data div{
    display:table-cell;
    height: 100%;
    width: 25%;
    max-width: 25%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;

}

.session-row-delete {
    width:25%;
    height: 100%;
    display:inline-block;
    vertical-align: top;
}

.session-row-delete-btn {
    display:table-cell;
    vertical-align: middle;
    line-height: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sessions-details > li:nth-child(odd) {
    background-color: #D05043;
}

.sessions-details > li:nth-child(even) {
    background-color: #DA5647;
}

.sessions-delete-session {
    background-color: #2F2F3B;
}

.disabled {
    background-color: #999999;
    color: #666666
}

.calibrate {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15vh;
    padding:2px 0px;
}


.calibrate.listening {
    background-color:#333333;
    display:block;
}

.calibrate.finished {
    background-color: #4B946A;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}