@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(roboto-regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff) format('woff');
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #3B3D62;
}

.paddler-link {
    color: #ef6156;
}

.paddler-topbar, .app-android .app-topbar.paddler-topbar {
    background-color: #535465;
    height: 18vh;
}

.paddler-title {
    height: 100%;
    width: 100%;
    display:table;
}
.paddler-title-text {
    display: table-cell;
    text-transform: UPPERCASE;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    line-height: 100%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 6vh;
    padding-right: 6vw;
}

.app-topbar .app-button[data-back].left.paddler-back {
    background-image: url(../images/back.svg);
    height: 100%;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    width: 10vw;
    background-color: #535465;
    border: 0;
}

.app-topbar .app-button[data-back].left.paddler-back:visited
, .app-topbar .app-button[data-back].left.paddler-back:active
, .app-topbar .app-button[data-back].left.paddler-back:focus
{
    outline:none;
    border: 0;
}

.app-content.settings {
    height: 100%;
    background-color: #2C2D49
}

.home-sessions-btn {
    height: 33.33%;
    background-color: #3B3D63;
    color: #FFF
}

.home-start-session-btn {
    height: 33.33%;
    background-color: #EE6156;
}

.home-settings-btn {
    height: 33.33%;
    background-color: #535465;
}

.home-last-record, .home-username {
    position: absolute;
    right: 2%;
    padding-top: 1%;
}

.home-last-record {
    color: rgba(255, 255, 255, 0.6);
    font-size: 3vw;
}

.home-username {
    color: rgba(255,255,255,0.6);
    display: block;
    font-size: 3vw;
}

.home-username-bold {
    font-weight: bold;
}

.home-last-record-date {
    color: #AFAFBB;
    font-weight: bold;
}

.home-row-wrapper {
    display: table;
    height: 100%;
    width:100%;
}

.home-icon {
    display: table-cell;
    height: 100%;
    width: 15%;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.home-row-title, .home-exit-button {
    display: table-cell;
    color: #FFFFFF;
    vertical-align: middle;
    text-transform: uppercase;
    width: 83%;
    font-size: 9vw;
    padding-left: 2%;
    letter-spacing: 0.2vw;
}

.home-settings-btn-short {
    width: calc(100% - 100px);
}

.home-exit-button {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    background-color: #444552;
    color: #9e9e9e;
    font-size: 30px;
    padding: 0;
}

.sessions-icon {
    background-image: url(../images/sessions.svg);
}

.start-icon {
    background-image: url(../images/start.svg);
}

.settings-icon {
    background-image: url(../images/settings.svg);
}

.info-modal-body {
    background-color: #3b3d62;
    color: #ffffff;
    width: 80%;
    margin: auto;
}

.info-modal-title {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    height: 10vh;
    line-height: 10vh;
}
.info-modal-content {
    padding: 2% 2% 0 2%;
    height: 26vh;

}

.info-modal-content > p {
    line-height: 10vh;
    text-align: center;
}

.info-modal-content > p.small {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px;
}

.info-modal-controls {
    display: table;
    width: 100%;
    height: 15vh;
    line-height: 15vh;
}

.info-modal-secondary-action {
    display: table-cell;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    background-color: #EF6155;
}

.info-modal-primary-action {
    display: table-cell;
    text-align: center;
    background-color: #71B57B;
    text-transform: uppercase;
    font-weight: bold;
}

.calibration-wizard-img {
   padding-left: 15%
}

.calibration-wizard-text {
    padding-top: 8%;
}

.slidshow-centered-text {
    width: 80%;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 10%;
    line-height: 100%;
    font-size: 38px;
}

.yellow {
    background-color: #F59146;
}

.blue {
    background-color: #5650EF;
}

.red {
    background-color: #EE6156;
}

.grey {
    background-color: #999999;
}

.session-controls-outer-text {
    display: table;
    width: 100%;
    height: 100%;
}

.session-controls-inner-text {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 10%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.template {
    display: none;
}

.settings-website {
    width: 100%;
    height: 20vh;
    float: left;
    background-color: #3b3d62;
    display: table;
    color:#fff;
    font-size: 3vw;
}

.settings-website-text {
    color:#D05043;
    text-decoration: none;
    padding-left: 4px;
}

.settings-row {
    display: flex;
    width: 100%;
    height: 18vh;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #3B3D62;
    font-weight: bold;
    box-sizing: border-box;
    align-items: center;
}

.settings-row.odd {
    background-color: #35375b;
}

.settings-calibrate {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;

    background-color: #EE6156;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.settings-calibrate-help {
    width: 35%;
    text-align: right;
    background-color: #EE6156;
    padding-right: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settings-current-gps-rate, .settings-current-max-heart-rate, .settings-current-language {
    vertical-align: middle;
    width: 35%;
    text-align: right;
    padding-right: 5%;
}

.settings-option {
    height: 100%;
    width: 80%;
    vertical-align: middle;
    text-align: left;
}

.settings-option-label {
    width: 65%;
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.settings-option-action {
    width: 35%;
    text-align: right;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settings-option-switch {
    padding: 0 10px;
}

.settings-option-switch-label {

}

.settings-facebook {
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: bold;
    background-color: #3B5999;
    text-transform: uppercase;
    color: #fff;
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.settings-facebook-icon {
    display: table-cell;
    width: 10%;
    background-color: #3B5999;
    background-image: url(../images/facebook.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.settings-footer {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #535465;
    text-align: center;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
}

.disabled {
    background-color: #999999;
    color: #666666
}

.calibrate {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    padding:2px 0px;
    font-size: 5vw;
}


.calibrate.waiting {
    height: calc(90vh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 0;
    flex-direction: column;
}

.calibrate.listening {
    height: 100vh;
    background-color: #333333;
    display: none;
    align-items: center;
    justify-content: center;
}

.calibrate.finished {
    height: 100vh;
    background-color: #4B946A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calibrate-action-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.calibrate-action-bar > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calibrate-action-bar small {
    padding: 20px;
    text-align: center;
}

.calibrate-action-start {
    height: 90vh;
    background-color: #71B57B;
}

.calibrate-action-preset-flat {
    height: 90vh;
    background-color: #3B3D62;
}

.app-topbar.calibrate-running {
    display: none;
}

.app-content.calibrate-running .calibrate-action-bar,
.app-content.calibrate-running .calibrate.waiting {
    display: none;
}

.app-content.calibrate-running {
    height: 100vh;
}

.app-content.calibrate-running .calibrate.listening {
    display: flex
}


.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.7);
}

.progress-waiting-cancel {
    background-color: #3B3D62!important;
    height: 2px;
    box-shadow: 0 1px 12px 0px #757575
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.login-page {
    background: url(../images/login-hdpi.png) center center;
}

.login {
    display: table;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #3B5999;
    bottom: 15vh;
    height: 15vh;
    font-size: 4vh;
}

.login-password {
    position: fixed;
    text-align: center;
    width: 100%;
    color: white;
    bottom: 2vh;
    height: 10vh;
    font-weight: bold;
    display: table;
    vertical-align: middle;
}

.login-password > div {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.login-fb-icon {
    display: table-cell;
    width: 10%;
    background-color: #3B5999;
    background-image: url(../images/facebook.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-text {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
}


div[aria-live="polite"],  div[aria-live="polite"] > .slick-track{
    height: 100%;
}

.slick-dots {
    position: fixed;
    bottom: 20px;
    left: 45%;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: none !important;
    cursor: pointer;
    text-indent: -9999px;
    box-shadow: none !important;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 25px;
    margin: 0 2px;
}

.slick-dots li.slick-active {
    background: rgba(255, 255, 255, 0.7) !important;
    cursor: default !important;
    border: 3px solid rgba(255, 255, 255, 0);
}

.black-and-white > .yellow {
    background-color: #FFFFFF;
}

.black-and-white > .blue {
    background-color: #FFFFFF;
}

.black-and-white > .red {
    background-color: #FFFFFF;
}

.black-and-white > .session-small-measure {
    color: #000000;
    border-bottom: 1px solid;
}

.black-and-white.big-measure-label, .black-and-white.big-measure-units {
    color: #000000;
}

.progress-line, .progress-line:before {
    height: 6px;
    width: 100%;
    margin: 0;
}
.progress-line {
    background-color: #3b3d62;
    display: -webkit-flex;
    display: flex;
}
.progress-line:before {
    background-color: #7e8c8d;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}


.login-modal-body {
    width: 90%;
    margin: auto;
}


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3b3d62;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #3b3d62;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #3b3d62;
    text-decoration: none;
}

.form .auth-error {
    display: none;
    color: red;
    margin: 0 0 15px;

}

.create-account {
    background-color: #fff;
    overflow-y: hidden;
}

.login-form {

}

.create-account-form, .forgot-password-form {
    display: none
}

.progress-btn, .progress-btn:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
.progress-btn {
    background-color: #ef6156;
    display: -webkit-flex;
    display: flex;
}
.progress-btn:before {
    background-color: #3b3d62;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.hidden {
    display: none;
}

.form .check-email {
    display: none;
    margin: 0 0 15px;
}


ul.list-widget {
    overflow: hidden;
}

ul.list-widget > li:nth-child(odd) {
    background-color: #EFEFEF
}

ul.list-widget > li:nth-child(even) {
    background-color: #D3D3D3
}

.app-page, .app-content {
    background-color: #3b3d62;
}


.list-row-delete-btn {
    text-align: center;
    color: #ffffff;
    background-color: #EE6156;
}

.list-row-delete-btn.cancel {
    background-color: #F59146;
}

.list-drag-hint {
    width: 10px;
    background-color: #EE6156;
    height: 100%;
    float: right;
}

.list-drag-hint.cancel {
    background-color: #F59146;
}

.cancel .list-drag-hint {
    background-color: #F59146;
}

.widget-distance-progress-bar {
    height: 90vh;
    width: 24px;
    margin-top: 5vh;
    border: 1px solid #fff;
    position: fixed;
    top: 0;
    right: 12px;
    z-index: 10000;
}

.widget-distance-progress-bar > .level {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.widget-distance-progress-bar > .label {
    z-index: 1;
    position: absolute;
    bottom: 18px;
    font-size: 16px;
    color: #fff;
    width: 42px;
    margin-left: -10px;
    text-align: center;
    background-color: #EE6156;
    font-weight: 600;
}

/* Used both in session and in coach slave mode */

.session-controls {
    width: 100%;
    height: 100%;
    color: white;
}

.session-controls.session-controls-free-session {
    display: flex;
    align-items: center;
    justify-content: center;
}


.session-app-tester-controls {
    position: fixed;
    bottom: 0;
    left: 4vw;
}

.session-controls-square-button {
    background-color: white;
    color: black;
    border-radius: 4px 4px 0 0;
    padding: 4px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}


.session-controls-square-button.session-controls-square-toggled {
    background-color: #EE6156;
    color: white;
    font-weight: bolder;
}

.session-controls-round-button-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 18px;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.session-controls-row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50vh;
}

.session-controls-row:nth-child(2) {
    align-items: flex-start;
}

.session-resume {
    background: #5650EF url(../images/play.svg) no-repeat center center;
    background-size: 70%;
}

.session-finish {
    background: #EE6156 url(../images/flag.svg) no-repeat 50% 50%;
    background-size: 60%;
}

.session-controls-round-button {
    border-radius: 50%;
    width: 36vw;
    height: 36vw;
    display: flex;
    margin: 2vh;
}

.session-start-immediately {
    background: #5650EF url(../images/play.svg) no-repeat center center;
    background-size: 90%;
}

.session-start-on-minute-turn {
    background: #F59146 url(../images/play.svg) no-repeat center center;
    background-size: 90%;
}

.session-cancel {
    background: #999999 url(../images/cancel.svg) no-repeat center center;
    background-size: 30%;
}

.session-slide-to-unlock {
    position: fixed;
    height: 60px;
    bottom: 10px;
    left: 2%;
    width: 96%;
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 14px;
    overflow: hidden;
}

.session-slide-to-unlock-handle {
    width: 200%;
    position: absolute;
    top: 0;
    left:0;
    cursor: pointer;
    height: 50px;
    font-size: 6vw;
}

.session-slide-to-unlock-handle-text {
    left: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #e6e6e6;
}