@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(roboto-regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff) format('woff');
}

body {
    font-family: 'Roboto', sans-serif;!important
}

.paddler-topbar {
    background-color: #7E8C8D;
    height: 18vh;
}

.paddler-title {
    height: 100%;
    width: 100%;
    display:table;
}
.paddler-title-text {
    display: table-cell;
    text-transform: UPPERCASE;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    line-height: 100%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 6vh;
    padding-right: 6vw;
}

.app-topbar .app-button[data-back].left.paddler-back {
    background-image: url(../images/back.svg);
    height: 100%;
    background-size: 70%;
    background-position: center center;
    padding: 0;
    width: 9%;
    background-color: #9EACAD;
    border: 0;
}

.app-content.settings {
    height: 100%;
    background-color: #2C2D49
}

.home-sessions-btn {
    height: 33.33%;
    background-color: #3B3D63;
    color: #FFF
}

.home-start-session-btn {
    height: 33.33%;
    background-color: #EF6156;
}

.home-settings-btn {
    height: 33.33%;
    background-color: #F59146;
}

.home-last-record, .home-username {
    position: absolute;
    right: 2%;
    padding-top: 1%;
}

.home-last-record {
    color: rgba(255, 255, 255, 0.6);
    font-size: 3vw;
}

.home-username {
    color: rgba(255,255,255,0.6);
    display: block;
    font-size: 3vw;
}

.home-username-bold {
    font-weight: bold;
}

.home-last-record-date {
    color: #AFAFBB;
    font-weight: bold;
}

.home-row-wrapper {
    display: table;
    height: 100%;
    width:100%;
}

.home-icon {
    display: table-cell;
    height: 100%;
    width: 20%;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.home-row-title {
    display:table-cell;
    color:#FFFFFF;
    vertical-align: middle;
    margin: 3%;
    text-transform: uppercase;
    width: 80%;
    text-align: right;
    padding-right: 1%;
    font-size: 9vw;
}

.sessions-icon {
    background-image: url(../images/sessions.svg);
}

.start-icon {
    background-image: url(../images/start.svg);
}

.settings-icon {
    background-image: url(../images/settings.svg);
}

.info-modal-body {
    background-color: #3b3d62;
    color: #ffffff;
    width: 80%;
    margin: auto;
}

.info-modal-title {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    height: 10vh;
    line-height: 10vh;
}
.info-modal-content {
    padding: 2% 2% 0 2%;
    height: 26vh;

}

.info-modal-content > p {
    line-height: 10vh;
    text-align: center;
}

.info-modal-controls {
    display: table;
    width: 100%;
    height: 15vh;
    line-height: 15vh;
}

.info-modal-secondary-action {
    display: table-cell;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    background-color: #7E8C8D;
}

.info-modal-primary-action {
    display: table-cell;
    text-align: center;
    background-color: #F59146;
    text-transform: uppercase;
    font-weight: bold;
}

.calibration-wizard-img {
   padding-left: 15%
}

.calibration-wizard-text {
    padding-top: 8%;
}

.slidshow-centered-text {
    width: 80%;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 10%;
    line-height: 100%;
    font-size: 38px;
}

.yellow {
    background-color: #F59146;
}

.blue {
    background-color: #5650EF;
}

.red {
    background-color: #EF6156;
}

.session-controls-outer-text {
    display: table;
    width: 100%;
    height: 100%;
}

.session-controls-inner-text {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 10%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
}

.template {
    display: none;
}

.settings-website {
    width: 100%;
    height: 20vh;
    float: left;
    background-color: #3b3d62;
    display: table;
    color:#fff;
    font-size: 3vw;
}

.settings-website-text {
    color:#D05043;
    text-decoration: none
}

.settings-row {
    display: table;
    width: 100%;
    height: 18vh;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #313455;
    font-weight: bold;
}

.settings-row.odd {
    background-color: #2C2D49;
}

.settings-calibrate {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    padding-left: 3%;

    background-color: #F4563D;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.settings-calibrate-help {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    text-align: right;
    background-color: #F4563D;
    padding-right: 2%;
}

.settings-option {
    display: table-cell;
    height: 100%;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    padding-left: 3%;
}

.settings-facebook {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    padding-left: 3%;
    font-weight: bold;

    background-color: #3B5999;
    text-transform: uppercase;
    color: #fff;
}

.settings-facebook-icon {
    display: table-cell;
    width: 10%;
    background-color: #3B5999;
    background-image: url(../images/facebook.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.disabled {
    background-color: #999999;
    color: #666666
}

.calibrate-running {
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center
}

.calibrate {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    padding:2px 0px;
    font-size: 5vw;
}


.calibrate.listening {
    background-color:#333333;
    display:block;
}

.calibrate.finished {
    background-color: #4B946A;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.7);
}

.progress-waiting-cancel {
    background-color: #3B3D62!important;
    height: 2px;
    box-shadow: 0 1px 12px 0px #757575
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.login-page {
    background: url(../images/login-hdpi.png) center center;
}

.login {
    display: table;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #3B5999;
    bottom: 15vh;
    height: 15vh;
    font-size: 4vh;
}

.login-password {
    position: fixed;
    text-align: center;
    width: 100%;
    color: white;
    bottom: 2vh;
    height: 10vh;
    font-weight: bold;
    display: table;
    vertical-align: middle;
}

.login-password > div {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.login-fb-icon {
    display: table-cell;
    width: 10%;
    background-color: #3B5999;
    background-image: url(../images/facebook.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-text {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
}


div[aria-live="polite"],  div[aria-live="polite"] > .slick-track{
    height: 100%;
}

.slick-dots {
    position: fixed;
    bottom: 20px;
    left: 45%;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: none !important;
    cursor: pointer;
    text-indent: -9999px;
    box-shadow: none !important;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 25px;
    margin: 0 2px;
}

.slick-dots li.slick-active {
    background: rgba(255, 255, 255, 0.7) !important;
    cursor: default !important;
    border: 3px solid rgba(255, 255, 255, 0);
}

.black-and-white > .yellow {
    background-color: #FFFFFF;
}

.black-and-white > .blue {
    background-color: #FFFFFF;
}

.black-and-white > .red {
    background-color: #FFFFFF;
}

.black-and-white > .session-small-measure {
    color: #000000;
    border-bottom: 1px solid;
}

.black-and-white.big-measure-label, .black-and-white.big-measure-units {
    color: #000000;
}

.progress-line, .progress-line:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
.progress-line {
    background-color: #3b3d62;
    display: -webkit-flex;
    display: flex;
}
.progress-line:before {
    background-color: #7e8c8d;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}


.login-modal-body {
    width: 90%;
    margin: auto;
}


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3b3d62;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #3b3d62;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #3b3d62;
    text-decoration: none;
}

.form .auth-error {
    display: none;
    color: red;
    margin: 0 0 15px;

}

.create-account {
    background-color: #fff;
    overflow-y: hidden;
}

.login-form {

}

.create-account-form, .forgot-password-form {
    display: none
}

.progress-btn, .progress-btn:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
.progress-btn {
    background-color: #ef6156;
    display: -webkit-flex;
    display: flex;
}
.progress-btn:before {
    background-color: #3b3d62;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.hidden {
    display: none;
}

.form .check-email {
    display: none;
    margin: 0 0 15px;
}
