.portrait-paddler-topbar {
    height: 10vh;
}

.portrait-paddler-topbar.app-topbar.paddler-topbar {
    height: 10vh;
}

.portrait-paddler-topbar .paddler-title-text {
    font-size: 18px;
}

.app-topbar .app-button[data-back].left.paddler-back.portrait-back-button {
    width: 10vh;
}

.portrait-app-content .app-content {
    height: 88vh
}

.modal-portrait .info-modal-content > p {
    line-height: 5vh;
    font-size: 3vh;
}

.modal-portrait .info-modal-title {
    line-height: 10vh;
    font-size: 3vh;
    font-weight: 600;
    text-transform: uppercase;
}

.modal-portrait .info-modal-controls {
    font-weight: 600;
    font-size: 6vw;
}
