.portrait-paddler-topbar {
    height: 12vh
}

.portrait-paddler-topbar.app-topbar.paddler-topbar {
    height: 12vh;
}

.portrait-paddler-topbar .paddler-title-text {
    font-size: 6vw;
}

.app-topbar .app-button[data-back].left.paddler-back.portrait-back-button {
    width: 16vw;
}

.portrait-app-content .app-content {
    height: 88vh
}
