.select-session-available-sessions-wrapper {
    float: right;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.select-session-play {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #EE6156;
}

.select-session-play > .label,  .select-session-play > .selected-session {
    height: 10vh;
    min-height: 10vh;
    line-height: 10vh;
    width: 50vw;
    text-align: center;
    font-size: 6vh;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.select-session-play > .select-session-free-session-toggle {
    font-size: 4vh;
    width: 50vw;
    height: 10vh;
    min-height: 10vh;
    line-height: 10vh;
    display: table;
}

.select-session-available-sessions-wrapper, .select-session-play {
    height: 82vh;
}


.select-session-start {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    margin: 16vh auto 10vh auto;
    align-content: center;
    justify-content: center;
}

.select-session-start-play {
    margin-left: 0;
}
