.summary-layout {
    height: 100%;
    width: 100%;
}

.summary-thumbs-up-icon {
    fill: #ffffff;
}

.summary-stats-row {
    width: 100%;
    clear: both;
    height: 100px;
}

.summary-stats-left {
    width: 30%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.summary-stats-right {
    width: 70%;
    float: right;
    box-sizing: border-box;
    padding: 0 20px;
}



.summary-label {
    color: rgba(255,255,255,0.9);
    line-height: 20px;
}

.summary-value {
    color: #ffffff;
}

canvas.summary-value {
    height: 70px;
}

.summary-value > b {
    font-size: 6vh;
}

.summary-finish-btn {
    vertical-align: middle;
    display: table-cell;
    text-transform: uppercase;
    background-color: #343540;
    padding: 15px 30px;
}

#summary-congrats {
    display: none;
}

.summary-session-details {
    background-color: #EE6156;
}

.summary-duration {
    color: #fff;
    text-align: right;
    font-size: 50px;
    font-weight: 700;
    float: left;
    width: 70%;
    padding-right: 10px;
    box-sizing: border-box;
}

.summary-distance {
    float: right;
    width: 28%;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 2%;
    color: #ed6156;
}

.summary-highlight {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.summary-stats > h2 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
}


/* Summary Intervals */
/* ----------------- */
.summary-layout-intervals, .summary-layout-zones {
    height: 90vh;
    overflow: hidden;
}
.summary-intervals-container {
    height: 90vh;
    overflow: hidden;
}

.summary-intervals-charts {
    width: 90vw;
    margin: 0 auto;
}

.summary-intervals-header {
    height: 60px;
    background-color: #EE6156;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    text-transform: uppercase;
}

.summary-intervals-body {
    height: calc(90vh - 64px);
    overflow: auto;
    width: 90vw;
    margin: 0 auto;
}

.summary-intervals-header-expression {
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80vw;
    white-space: nowrap;
    padding: 8px;
    text-align: center;
}

.summary-intervals-table {
    background: #F3F3F3;
    border: 1px solid #D9D9D9;
    height: 36vh;
    margin-top: 10px;
    border-radius: 0 0 4px 4px;
}

.summary-interval-detail-container {
    height: calc(36vh - 46px);
    overflow: auto;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.summary-table-header {
    color: #B3B3B3;
    font-size: 10px;
    text-align: center;
}

.summary-table-header > thead > tr {
    height: 30px;
}

.summary-table-header th {
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 0.75rem;
    border-bottom: 2px solid #dee2e6;
    font-size: 14px;
    text-transform: capitalize;
}

.summary-table-body {
    text-align: center;
    font-size: 12px;
}

.summary-table-body tr {
    height: 40px;
    border-bottom: 1px solid #80808038;
}

.summary-table-body tr:last-child {
    border-bottom: 0;
}

.summary-table-body td {
    line-height: 40px;
    vertical-align: middle;
    padding: 0 0 0 0.75rem;
}

.summary-table-body tr:first-child td {
    border-top: 0;
}

.summary-table-interval-selected {
    background-color: #666AAB;
    color: #FFFFFF;
}

.summary-intervals-chart {
    height: 200px;
}

.summary-intervals-charts-label, .summary-zones-label {
    color: #565454;
    background-color: #D9D9D9;
    padding-left: 20px;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 20px;
    border-radius: 4px 4px 0 0;
}

.summary-intervals-charts canvas:last-child {
    margin-bottom: 60px;
}



/* Zones */
/* ------*/
.summary-zones-header {
    height: 60px;
    background-color: #EE6156;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    text-transform: uppercase;
}

.summary-zones-zone-container {
    height: calc(90vh - 64px);
    overflow: auto;
    width: 90vw;
    margin: 0 auto;
}

.summary-zones-zone-card {
    border-radius: 4px;
    background-color: #F3F3F3;
}

.summary-zones-zone-card:first-child > .summary-zones-label {
    margin-top: 10px;
}

.summary-zones-zone-card:last-child {
    margin-bottom: 60px;
}

.summary-zones-table {
    font-size: 18px;
}

.summary-zones-table > tbody td:first-child {
    width: 15%;
}

.summary-zones-table > tbody td:nth-child(2) {
    width: 60%;
}

.summary-zones-table > tbody td:last-child {
    text-align: left;
    padding-left: 6px
}


.summary-zones-table tr {
    height: 50px;
}

.summary-zones-table-bar {
    background-color: #EE6156;
}
.summary-zones-table-bar.summary-zones-table-bar-discarded {
/*    background-color: #71B57B; */
}
