.app-content.sessions {
    height:100%;
    overflow: hidden;
    text-transform: uppercase;
}

.sessions-content {
    height: 80%;
    background-color: #F05E4E;
}

.sessions-header {
    background-color: #3B3D63;
}
.sessions-header-title {
    display: table-cell;
    width: 60%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    padding-right: 4%;
}

.session-details-ptr-li {
    display: table;
    width: 100%;
    height: 20vh;
}

.session-details-ptr-div {
    font-size: 7vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    text-transform: none;
    color: rgba(59, 61, 98, 0.5);
    height: 100%;
    line-height: 100%
}

#sessions-wrapper {
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sessions-summary-value {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 5% 0 5%;
    font-size: 7vw;
}

.session-row {
    white-space: nowrap;
    height: 64px;
}


.session-row-wrapper {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}

.session-row-data-wrapper {
    width:100%;
    height: 100%;
    display:inline-block;
    color: #3b3d62;
}

.session-row-data {
    display:table;
    width:100%;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
}

.session-row-data div {
    display: table-cell;
    height: 100%;
    width: 30%;
    max-width: 25%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
}

.session-row-data div:first-child {
    background-color: #EE6156;
    color: #FFFFFF;
    width: 25%;
}

.session-row-label {
    text-transform: uppercase;
    clear: both;
    display: block;
    font-size: 10px;
    color: #7e8c8d;
    font-weight: 700;
}

.session-row-expression {
    font-size: 16px;
    font-weight: normal;
}

.session-row-data div:first-child .session-row-label {
    color: rgba(0, 0, 0, 0.5);
}

.session-row-actions {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.session-row-delete-btn {
    display: table-cell;
    vertical-align: middle;
    line-height: 100%;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #EE6156;
}

.session-row-upload-btn {
    display: table-cell;
    vertical-align: middle;
    line-height: 100%;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #7E8C8D;
}

.session-row-delete-btn.cancel {
    background-color: #F59146;
}

.session-row-empty {
    padding: 20px 20px;
    background-color: #EE6156 !important;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

li:nth-child(odd) .session-row-data div:first-child {
    background-color: #E4594E;
}

.sessions-delete-session {
    background-color: #2F2F3B;
}


.sessions-summary {
    width: 90%;
    height: 28vh;
    background-color: #3b3d62;
    color: #fff;
    margin: auto;
}

.sessions-table-header {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    background-color: #2B2C45;
}

.sessions-table-header > div:first-child {
    width: 25%;
}

.sessions-table-header > div:last-child {
    width: 15%;
}

.sessions-table-header > div {
    width: 30%;
}

.sessions-summary-highlight {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    height: 16vh;
    align-items: center;
}


#sessions-summary-distance-unit {
    font-size: 14px;
    margin: 18px 0 0 6px;
    color: rgba(255, 255, 255, 0.3);
}

.sessions-summary-secondary {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    text-align: center;
}

.sessions-summary-secondary > div {
    background-color: #303252;
    width: 100%;
    margin: 4px;
    padding: 10px;
    border-radius: 4px;
}

.sessions-summary-secondary-value {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.sessions-summary-secondary-label {
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}




