.session-large-measure {
    width: 100%;
    height: 49vh;
}

.session-small-measures {
    width: 100%;
}

.session-small-measure {
    height: 17vh;
    position: relative;
    color:#fff;
    overflow: hidden;
}

.session-big-measure {
    display: table-cell;
    vertical-align: middle;
    font-size: 38vh;
}

.small-measure-header {
    height: 100%;
    width: 100%;
    position: absolute;
}

.small-measure-value {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 18vh;
    font-size: 10vh;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.small-measure-label {
    padding-top: 8px;
    padding-left: 11px;
    position: absolute;
}

.small-measure-units {
    position: absolute;
    bottom: 12px;
    width: 100vw;
    text-align: right;
    padding-right: 11px;
    box-sizing: border-box;
}

.black-and-white.session-large-measure {
    background-color: #FFFFFF;
    color: #000000;
    border-bottom: 1px solid;
}

.small-measure-hint-primary {
    position: absolute;
    top: -10px;
    width: 100%;
    text-align: center;
}

.small-measure-hint-secondary {
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}