.session-large-measure {
    background-color: #3b3d62;
    color: #fff;
}

.session-big-mesaure-container {
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}


.big-measure-units, .big-measure-label {
    text-align: center;
    line-height: 100%;
    width: 100%;
    color: #B8B5C1;
    position: absolute;
}

.big-measure-units {
    bottom: 10%;
}

.big-measure-label {
    top: 10%;
}

.measures {
    height: 100%;
}

.measures .measure {
    height: 100%;
}

.small-measure-line {
    display:table-row;
}

.session-left-right-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.session-left, .session-right {
    width: 50vw;
    height: 80vh;
}

.session-right.active, .session-left.active {
    background-color: rgba(0, 0, 0, 0.5);;
}