.summary-layout {
    display: flex;
    height: 82vh;
}

.summary-layout-general {
    width: 100vw;
}

.summary-session-details {
    width: 50vw;
    height: 82vh;
    overflow: hidden;
    float: left;
}

#summary-congrats {
    display: table-cell;
    height: 100%;
    width: 50%;
    background-color: #EE6156;
    float: left;
}


.summary-stats {
    width: 50vw;
    background-color: #3b3d62;
    vertical-align: top;
    text-align: center;
    overflow: auto;
    float: right;
}

.summary-congrats-title {
    text-align: center;
    color: rgba(255,255,255,0.9);
    margin-top: 23px;
    font-size: 6vw;
}

.summary-icon {
    width: 45%;
    text-align: center;
    padding-left: 25%;
}

.summary-label-highlight {
    color: rgba(255,255,255,0.9);
    line-height: 20px;
    font-size: 4vw;
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
}

.summary-current-session {
    color: rgba(255,255,255,0.9);
    text-align: center;
    margin-top: 5%;
    font-size: 3vw;
}

.summary-duration {
    font-size: 40px;
}

.summary-distance {
    width: 100%;
}

.summary-zones-zone-card:last-child {
    margin-bottom: 90px;
}

.summary-intervals-table {
    height: 162px;
}

.summary-interval-detail-container {
    height: 132px;
}