.wizard {
    background-color: #3b3d62;
    color: #ffffff;
    width: 100%;
}

.wizard-step {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wizard-image > img {
    width: 80vw;
}

.wizard-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    text-align: center;
}

.wizard-text h1 {
    font-size: 34px;
}

.wizard-text h1 span.small {
    font-size: 22px;
}

.wizard-text p {
    font-size: 20px;
    color: rgba(255,255,255,0.7);
    text-align: center;
}

.got-it {
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: #EE6156;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
}
