.wizard {
    background-color: #3b3d62;
    color: #ffffff;
    width: 100%;
}

.wizard-step {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wizard-image {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wizard-image > img {
    width: 40vw;
}

.wizard-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    text-align: center;
}

.wizard-text h1 {
    font-size: 34px;
}

.wizard-text h1 span.small {
    font-size: 22px;
}

.wizard-text p {
    font-size: 20px;
    color: rgba(255,255,255,0.7);
    text-align: center;
}

.wizard-actions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
}

.wizard-action-primary {
    background-color: #71B57B;
}

.wizard-action-secondary {
    background-color: #EF6155;
}

.got-it {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: #EE6156;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    min-height: 40px;
    min-width: 100px;
}
